@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  width: 100%;
}

.navbar {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 10px;
  list-style: none;
}

.navbar ul li a {
  font-weight: bold;
  font-size: 13px;
  color: #000;
  text-decoration: none;
}

.login {
  font-weight: 500;
  margin: 0px 8px;
  text-align: center;
  padding: 9px 23px;
  font-size: 14px;
  border-radius: 5px;
  height: 36px;
  width: 120px;
  color: #fff;
  background-color: #1a73e8;
  border: none;
  cursor: pointer;
}

.login a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.pesquisa {
  padding: 25px;
  margin: auto;
}

.pesquisa input {
  padding: 8px 10px;
  width: 560px;
  height: 44px;
  border-radius: 24px;
  border: solid 1px rgb(196, 196, 196);
}

.botoes {
  margin-left: auto;
  margin-right: auto;
}

.botoes button {
  padding: 0 16px;
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  margin: 11px 4px;
  font-family: arial, sans-serif;
  font-weight: normal;
  border-radius: 4px;
}

.botoes button:hover {
  border: solid 1px #dbdddf;
}

.footer {
  height: 50px;
  position: absolute;
  display: flex;
  width: 100%;
  background: #00000011;
  bottom: 0;
}

.rodape {
  display: flex;
}

.rodape ul {
  display: flex;
  padding: 15px;
}

.rodape ul li {
  list-style: none;
  margin-right: 20px;
}

.rodape ul li a {
  text-decoration: none;
  color: #70757a;
}
